/* $Id: common.css,v 1.8 2004/09/20 14:36:53 unconed Exp $ */

/*
 ** HTML elements
 */
a, a:link, a:active, a:visited {
	text-decoration: none;
	color: #015FAB;
}
a:hover {
	text-decoration: underline;
}
body {
	margin: 0 auto;
	padding: 1.5em 0;
	font-size: .9em;
	line-height: 1.6em;
	width: 960px;
}

/*
Moved to ltu sub-theme.
blockquote {
font-style: italic;
}
 */

table {
	margin: 0;
	padding: .5em;
	border-collapse: collapse;
}
.highlight {
	margin: 0;
	padding: 0;
}
.lineno {
	color: #586E75;
}
code, pre {
	display: block;
	color: #FFF;
	font-size: 13px;
	line-height: 1.6em;
	font-family: Menlo,Monaco,"Andale Mono","lucida console","Courier New",monospace !important;
	overflow-x: auto;
	overflow-y: hidden;
}
pre {
	width: 660px;
	padding: 0;
	background: #002B36;
}
code {
	padding: .5em 1em;
}
li {
	padding-bottom: .3em;
}
h1, h2, h3, h4, h5, h6 {
	margin: 1.6em 0 .25em;
}
h1 {
	font-size: 1.3em;
}
h2 {
	font-size: 1.3em;
}
h3 {
	font-size: 1.1em;
}
h4, h5, h6 {
	font-size: 1em;
}
p {
	margin: 1em 0 .5em 0;
}
br {
	line-height: 0.6em;
}

/*
 ** Page layout blocks / IDs
 */
#header {
	margin-bottom: 2em;
}
#help {
	font-size: 0.8em;
}
#content {
	clear: both;
	width: 100%;
}
#sidebar-left, #sidebar-right {
	vertical-align: top;
	padding: 0 10px;
}
#sidebar-right {
	width: 260px;
}

#main {
	padding: 0 10px;
	vertical-align: top;
}
#footer {
	font-size: 0.8em;
	padding-top: 2em;
}

/*
 ** Common declarations for child classes of node, comment, block, box etc
 */
.title {
	margin: 0 0 .25em 0;
}
.content {
	margin: 0 0 .5em 0;
}
.links {
	font-size: 0.8em;
	line-height: 1.6em;
}
.block {
	/*  width: 180px; */
}
.messages {
	padding: 0.3em;
	margin: 0.5em 0em 0.5em 0em;
}
.status {
	border: 1px solid #3a3;
	color: #3a3;
}
.error, form-item input.error {
	border: 1px solid red;
	color: red;
}
.links .tags {
	margin: 0.5em 0.2em;
}

/*
 ** Common navigation links added on the admin/themes/settings page
 */
.navlinks {
	padding: 0em 0.5em 1.5em 0em;
	clear: both;
}
.primary a {
	font-size: 1.0em;
	padding: 0em 0.5em 0em 0em;
}
.secondary a {
	font-size: 0.9em;
	padding: 0em 0.5em 0em 0em;
}

#header {
	clear: both;
}
/*
 ** Module specific styles
 */
.form-item textarea {
	font-size: 1em;
}
#aggregator .feed {
	border: 1px solid gray;
	padding: 1em;
}

/*
 ** avs: Copied from misc/drupal.css in 4.5.x to retain previous look
 */
tr.dark {
	background-color: #ddd;
}
tr.light {
	background-color: #eee;
}

#tracker table {
	border-collapse: collapse;
}
#tracker td {
	vertical-align: top;
	padding: 1em;
}
#tracker td ul {
	margin-top: 0;
	margin-bottom: 0;
}
#tracker td ul a {
	font-weight: normal;
}
#tracker th {
	text-align: left;
	padding: 0.25em 1em 0.25em 0em;
}

/*
 ** LtU blockquotes (avs)
 */

div.content blockquote, div.comment blockquote, .abstract {
	width: 80%;
	margin-left: 2.5em;
}

div.content blockquote, .abstract {
	font-style: italic;
}

div.comment blockquote {
	color: #22b;
	border-left: 2px solid gray;
	padding-left: 0.5em;
	font-style: normal;
}

.tag-cloud ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

.tag-cloud ul li {
	display: inline;
	padding: 0;
	margin: 5px;
}
