---
layout: default
---
<div><h2 class="title">{{ page.title }}</h2></div>

<div class="node">
	<div class="content">
		{{ content }}
	</div>
	<div class="links">
		Post at {{ page.date | date_to_string }} |
		Category: {{ page.category }} |
		Tags: {{ page.tags }}
	</div>
</div>

<a href="#comments"></a>
<div id="comments">
	<div id="disqus_thread"></div>
	<script type="text/javascript">
		(function() {
		 var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		 dsq.src = 'http://ravenw.disqus.com/embed.js';
		 (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		 })();
	 </script>
	 <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

 </div>


